.text
    &-main
        font-size 16px
        line-height 26px
        color $text-color

        @media $screen-xs
            font-size 14px
            line-height 21px

    &-bold
        font-weight 700
        font-size 20px
        line-height 27px
        color $text-color

        @media $screen-xs
            font-size 14px
            line-height 17px

    &-medium
        font-weight 500
        font-size 20px
        line-height 36px
        color $text-color

        @media $screen-xs
            font-size 18px
            line-height 27px

    &-red
        color $text-red