.alternative
    &__box
        border 2px solid $stroke
        padding 37px 50px 36px
        border-radius 12px
        background-color #ffffff
        position relative
        margin-bottom 68px

        @media $screen-xs
            padding 17px 14px 176px
            margin-bottom 32px

    &__bg
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-image url('/img/alternative/bg.png')
        background-repeat no-repeat
        background-size contain
        background-position right top

        @media $screen-xs
            top 185px
            height calc(100% - 185px)
            background-position center bottom
            background-image url('/img/alternative/bg_mobile.png')
            background-size cover

    &__text
        font-size 40px
        line-height 48px
        color $text-color
        font-weight 700
        margin-bottom 29px

        @media $screen-xs
            font-size 20px
            line-height 24px
            margin-bottom 5px
            text-align center

    &__logo
        width 230px
        height 60px
        display inline-block
        vertical-align bottom
        background-image url('/img/alternative/logo.svg')
        background-repeat no-repeat
        margin-right 5px

        @media $screen-xs
            margin-right 0
            margin-bottom 4px
            width 134px
            height 35px
            display block
            margin 0 auto
            background-size contain

    &__button
        font-weight 700
        color #ffffff
        font-size 20px
        line-height 27px
        padding 14px 54px
        border 0
        background 0
        background-color $text-red
        border-radius 12px

        @media $screen-xs
            font-size 18px
            line-height 24px
            width 100%
            padding 12px 0

        &:hover
            background-color darken($text-red, 10)
        
