.footer
    background-color #f3f3f3
    padding 36px 0 56px

    @media $screen-xs
        padding 34px 0 54px

    &__logos
        font-size 0
        margin-bottom 44px

        &__item
            display inline-block

            @media $screen-xs
                display block
                margin 0 auto
            
            &:first-child
                width 138px
                height 45px
                margin-right 27px

                @media $screen-xs
                    margin-right auto
                    margin-bottom 19px

            &:last-child
                width 76px
                height 61px

    &__row
        display flex
        justify-content space-between
        flex-wrap nowrap

        @media $screen-xs
            flex-direction column

    &__list
        margin-bottom 0
        padding-left 0
        list-style none

        @media $screen-xs
            overflow hidden
            padding-top 16px

        &__title
            font-size 16px
            line-height 22px
            font-weight 700
            color $link
            margin-bottom 16px
            margin-top 0

            @media $screen-xs
                font-size 14px
                line-height 19px
                padding 18px 0
                text-align center
                position relative
                margin-bottom 0

                &::after
                    content: ''
                    position absolute
                    bottom 0
                    left 0
                    width 100%
                    height 2px
                    background-color rgba(#3d3d3d, .05)

        &__item
            font-size 13px
            line-height 20px

            @media $screen-xs
                text-align center
            
            &:not(:last-child)
                margin-bottom 16px

        &__link
            color $text-color

            &:hover
                text-decoration none
                color $link

    &__social
        padding-left 0
        list-style none
        margin-bottom 0
        display flex

        &__item
            &:not(:last-child)
                margin-right 12px

        &__link
            width 48px
            height 48px
            background-position center
            background-repeat no-repeat
            display block




