.giveback
    padding 60px 0 84px
    background-color $bg-gray

    @media $screen-xs
        padding 24px 0 40px

    .tabview__content
        padding 60px 0 0
        max-height 100%

        @media $screen-xs
            padding 28px 0 0

    &__title
        margin-top 4px
        margin-bottom 16px

        @media $screen-xs
            margin-top 0
            margin-bottom 12px

    &__text
        padding-right 70px
        margin-bottom 60px

        @media $screen-xs
            padding-right 0
            margin-bottom 16px

    &__aim
        margin-bottom 70px

        @media $screen-xs
            margin-top 43px

        &:last-child
            position relative
            z-index 0

            &::after
                content: ''
                position absolute
                bottom 5px
                left -6px
                height 10px
                width 177px
                background-color $text-red
                z-index -1
                transform rotate(-1deg)
                opacity 0.3

    &__item
        align-items center
        justify-content flex-end

        @media $screen-xs
            justify-content flex-start

        &:not(:last-child)
            margin-bottom 80px
            position relative

            @media $screen-xs
                margin-bottom 40px
        
            &::after
                content: ''
                position absolute
                width 36px
                height 79px
                bottom -90px
                left calc(50% + 40px)
                background-image url('/img/giveback/lines.svg')
                background-repeat no-repeat
                background-size contain

                @media $screen-xs
                    background-image url('/img/giveback/lines_m.svg')
                    bottom auto
                    top 32px
                    height 55px
                    left 60px

        &:last-child
            flex-direction row-reverse

            @media $screen-xs
                flex-direction row
                padding-left 36px

        & > span 
            max-width 175px

    &-icon
        margin 0 23px
        width 80px
        height 80px
        background-repeat no-repeat
        background-size cover

        @media $screen-xs
            width 56px
            height 56px
            margin 0 12px 0 0 

    &-excl
        background-image url('/img/giveback/1.svg')

    &-qmark
        background-image url('/img/giveback/2.svg')
