.header
    background-color #ffffff
    display flex

    @media $screen-xs
        padding 11px 0 10px
        position relative

    &__logo
        display block
        background-image url('/img/logo.png')
        background-repeat no-repeat
        background-position center
        width 126px
        height 76px
        margin-right 32px

        @media $screen-xs
            margin 0 auto
            width 95px
            height 31px
            background-size contain

    &__list
        padding 26px 0
        list-style none
        display flex
        margin 0 -8px

        &--mobile
            transform translateX(-100%)
            transition transform .125s
            position absolute
            top 52px
            z-index 10
            flex-direction column
            background-color #ffffff
            width 100%
            padding-top 28px
            left 0
            margin 0
            border-bottom 1px solid rgba(0, 0, 0, 0.14)


            &[data-shown="true"]
                transform translateX(0)

    &__item
        font-size 16px
        line-height 24px
        position relative

        @media $screen-xs
            line-height 26px

    &__link
        font-size inherit
        color $text-color
        padding 0 8px
        width 100%

        &:hover
            color lighten($text-color, 20)
            text-decoration none

        &.active
            font-weight 700


        @media $screen-xs
            display block
            text-align center
            padding 12px 0

            &.active
                background-color rgba(238, 238, 238, 0.7)

    &__drop
        display none
        position absolute
        box-shadow 0px 2px 8px rgba(0, 0, 0, 0.14)
        background #ffffff
        width 300px
        padding 12px 20px 16px
        top 50px
        margin-bottom 0
        list-style none
        transform translateX(-50%)
        left 50%
        z-index 10

        @media $screen-xs
            position static
            display none
            width 100%
            transform none
            background-color rgba(238, 238, 238, 0.7)
            box-shadow none

        &:focus
            outline 0

        &__item
            font-size 16px
            line-height 26px

            &:not(:last-child)
                margin-bottom 8px

        &__link
            color $text-color

            @media $screen-xs
                text-align center
                width 100%
                display block

            &:hover
                color $text-color

    &__ham
        position absolute
        right 15px
        border 0
        background 0
        align-items center
        display flex
        justify-content center
        margin 0
        padding 0
        overflow hidden
        cursor pointer
        transition transform 250ms
        user-select none
        width 30px
        height 30px
        
        &:focus
            outline 0

        .ham
            width 100%
            height 100%

        .hamRotate.active
            transform rotate(45deg)

        .line
            fill none
            transition  stroke-dasharray 125ms, stroke-dashoffset 400ms
            stroke #000
            stroke-width 5.5
            stroke-linecap round
        
        .ham8 
            .top 
                stroke-dasharray  40 160
        
            .middle 
                stroke-dasharray  40 142
                transform-origin  50%
                transition  transform 400ms
        
            .bottom 
                stroke-dasharray  40 85
                transform-origin  50%
                transition  transform 400ms, stroke-dashoffset 400ms
        
            &.active 
                .top 
                    stroke-dashoffset  -64px
        
                .middle 
                    //stroke-dashoffset  -20px
                    transform  rotate(90deg)
        
                .bottom 
                    stroke-dashoffset  -64px
        



