.history
    padding 100px 0 80px

    @media $screen-xs
        padding 40px 0 44px

    &__text
        margin-bottom 28px

        @media $screen-xs
            margin-bottom 24px

        &.p-smaller
            margin-bottom 14px

    &__link
        font-size 0

        & > span
            font-size 20px
            line-height 27px
            font-weight 700
            padding-right 12px
            display inline-block
            vertical-align middle
            color $link

            @media $screen-xs
                font-size 18px
                line-height 24px
                padding-right 6px

            &:hover
                text-decoration none
                color darken($link, 10)

        i.icon-arrow
            width 22px
            height 19px
            display inline-block
            background-image url('/img/history/arrow.svg')
            background-repeat no-repeat
            background-size contain
            vertical-align middle

    &__logo
        height 116px
        background-image url('/img/history/logo.png')
        background-repeat no-repeat

        @media $screen-xs
            margin 0 auto 32px
            width 229px
            height 75px
            background-size contain