.model
    padding 60px 0 129px
    background-image url('/img/model/bg.png')
    background-repeat no-repeat
    background-size cover

    @media $screen-xs
        padding 28px 0 60px
        background-position center bottom

    .tabview__content
        padding 28px 0 0
        max-height 100%

    &__wrap
        position relative

    &__title
        position relative
        z-index 0
        margin-bottom 43px

        &-underline
            position relative

            &::after
                content: ''
                position absolute
                bottom 3px
                left -6px
                height 16px
                width 100%
                background-color #fbac37
                z-index -1
                transform rotate(-1deg) translateX(5px)

    &__item
        display inline-flex
        align-items center
        position relative

        @media $screen-xs
            display flex

        &[data-transform]
            transform: translateX(120px)

            @media $screen-xs
                transform none

        &__number
            display block
            font-family 'Bangers', cursive
            color #fbac37
            font-size 144px
            line-height 153px
            width 121px
            text-align center
            margin-right -5px

            @media $screen-xs
                width 45px
                font-size 100px
                line-height 106px
                margin-right 20px
                flex 0 0 auto

        &__text
            font-weight 500
            font-size 20px
            line-height 30px
            color #ffffff
            width 365px

            @media $screen-xs
                width auto
                font-size 18px
                line-height 27px

    &__vector
        position absolute
        top 42%
        right -101px
        width 101px
        height 180px
        background-image url('/img/model/desktop1.svg')
        background-repeat no-repeat

        @media $screen-xs
            display none

        &.down
            background-image url('/img/model/desktop2.svg')
            right auto
            left -135px



