.product
    padding-bottom 52px

    @media $screen-xs
        padding-bottom 36px

    &__inner
        box-shadow 0px 4px 15px rgba(0, 0, 0, 0.1)
        border-radius 12px
        background-color #ffffff
        position relative
        padding 36px 50px 32px

        @media $screen-xs
            padding 152px 14px 20px

        &::after
            content: ''
            position absolute
            bottom 18px
            right 70px
            width 444px
            height 308px
            background-image url('/img/product/group.png')
            background-repeat no-repeat
            background-size cover

            @media $screen-xs
                width 252px
                height 275px
                right 23px
                bottom auto
                top -35px
                background-size contain

    &__bg
        position absolute
        top 0
        right 0
        height 100%
        background-image linear-gradient(89.75deg, #FFFFFF 0.58%, rgba(255, 255, 255, 0) 62.38%), url('/img/product/bg.png')
        background-repeat no-repeat
        background-position top right
        background-size cover
        width 580px

        @media $screen-xs
            background-image linear-gradient(359.11deg, #FFFFFF 1.24%, rgba(255, 255, 255, 0) 57.83%), url('/img/product/bg.png')
            width 100%
            height 147px
            border-radius: 12px


    &__new
        margin-bottom 16px
        font-weight 600
        font-size 14px
        line-height 17px
        letter-spacing 0.1em
        color $text-red
        display block

        @media $screen-xs
            margin-bottom 8px

    &__title
        font-size 36px
        line-height 49px
        font-weight 700
        color $link
        margin-bottom 24px
        margin-top 0

        @media $screen-xs
            font-size 20px
            line-height 27px
            margin-bottom 0

    &__desc
        font-weight 500
        font-size 20px
        line-height 36px
        color #545454
        margin-bottom 0

        @media $screen-xs
            font-size 18px
            line-height 27px