.projects
    padding-top 80px

    @media $screen-xs
        padding-top 36px
        padding-bottom 100px
        position relative

    &__title
        font-weight 700
        font-size 48px
        line-height 58px
        color $link
        margin-bottom 8px

        @media $screen-xs
            font-size 28px
            line-height 34px
            margin-bottom 12px

    &__desc
        font-weight 700
        font-size 20px
        line-height 36px
        margin-bottom 40px
        color $text-color

        @media $screen-xs
            font-size 18px
            line-height 27px
            margin-bottom 28px

    &__item
        background-size cover
        height 332px
        display flex !important
        flex-direction column
        justify-content space-between
        padding 20px 20px 25px
        border-radius: 12px

        &__title
            font-size 28px
            line-height 38px
            font-weight 700
            color #ffffff
            margin-bottom 0

        &__text
            position relative

            &::before
                content: ''
                position absolute
                top -20px
                left 0
                width 54px
                height 2px
                background-color #fbac37

    &__bg
        margin-top 188px
        height 72px
        background-image url('/img/projects/bg.svg')
        width 100%
        background-size cover
        background-repeat no-repeat

        @media $screen-xs
            height 49px
            position absolute
            bottom 0
            margin-top 0
            background-position 20% 0
            left 0

    &__slider
        display none

        @media $screen-xs
            display block