.sub-header
    background-color $bg-gray

    &__wrap
        display flex
        justify-content space-between

    &__social-list
        margin 0
        list-style none
        padding 7px 0
        display flex

        &__item
            display block
            width 22px
            height 20px

            &:not(:last-child)
                margin-right 5px

        &__icon
            display block
            width 100%
            height 100%
            background-position center
            background-repeat no-repeat

    &__menu
        list-style none
        display flex
        padding 5px 0
        margin 0

        &__item
            line-height 24px
            font-size 14px
            &:not(:last-child)
                margin-right 30px

            &__icon
                width 11px
                display inline-block
                height 15px
                background-position center
                background-repeat no-repeat
                margin-right 6px
                vertical-align -3px

        &__link
            color $text-color
            text-decoration none

            &:hover
                text-decoration none
                color lighten($text-color, 30)

        &__dropdown-caret
            display inline-block
            background-image url('/img/Main%20page/icon_dropdown.svg')
            background-position center
            background-repeat no-repeat
            width 8px
            height 4px
            margin-left 4px
            vertical-align middle


