.tabview
    position relative

    &__bg
        position absolute
        top -36px
        left 0
        width 100%
        bottom -60px
        background-repeat no-repeat
        background-position left top
        background-size contain
        z-index -1

        @media $screen-xs
            bottom auto
            height 484px
            top -52px
            background-size cover
            background-position -50px 0

    &__content
        padding 112px 0 320px

        @media $screen-xs
            padding 32px 0 71px

    &__tablist
        padding 20px 0 24px
        position absolute
        width 100%

        &.tabs-fixed
            position fixed
            top 0
            background-color rgba(255, 255, 255, .9)
            z-index 100

        &__list
            list-style none
            display flex
            margin-bottom 0
            padding-left 0

        &__item
            font-size 20px
            line-height 27px
            display block

            @media $screen-xs
                font-size 14px
                line-height 17px
            
            &:not(:last-child)
                margin-right 29px

                @media $screen-xs
                    margin-right 10px

        &__tab
            opacity 0.5

            @media $screen-xs
                display inline-block
                padding-left 10px

            &:hover
                text-decoration none
                color inherit
                position relative
                cursor pointer

                &::after
                    background-color rgba($text-red, 0.5)

            &.active
                opacity 1
                position relative

                &::after
                    background-color $text-red

            &.active, &:hover:not(.active)
                &::after
                    content: ''
                    position absolute
                    bottom -4px
                    height 4px
                    width 100%
                    left 0
                    border-radius: 12px

                    @media $screen-xs
                        bottom 0
                        left 0
                        height 100%
                        width 4px

    &__title
        margin-top 24px
        font-size 48px
        line-height 58px
        font-weight 700
        margin-bottom 0

        @media $screen-xs
            font-size 28px
            line-height 34px
            margin-bottom 144px

    &__info
        margin-bottom 20px

    &__fact
        @media $screen-xs
            font-size 18px !important
            line-height 24px !important
            margin-bottom 0

        &__green
            color $green
        
        




