.topper
    position relative

    &__title
        font-weight 700
        font-size 80px
        line-height 84px
        padding 118px 0 112px
        color $text-red
        position relative

        @media $screen-xs
            font-size 40px
            line-height 42px
            padding-bottom 40px

        &__img
            position absolute
            top 115px
            width 110px
            height 110px
            background-image url('/img/paw.svg')
            background-position center
            background-repeat no-repeat
            background-size cover
            right -60px

            @media $screen-xs
                width 65px
                height 65px
                top 105px
                right -10px

    &__bg
        position absolute
        width 100%
        top 0
        right 0
        background-image url('/img/bg_top.png')
        background-position right top
        height 522px
        background-repeat no-repeat

        @media $screen-xs
            height 175px
            background-size contain

    &__desc
        font-weight 500
        font-size 32px
        line-height 48px
        color $text-color
        margin-bottom 40px

        @media $screen-xs
            font-size 18px
            line-height 27px
            margin-bottom 24px

    &__col
        margin-bottom 44px

        &__title
            font-weight 700
            font-size 28px
            line-height 38px
            color $text-accent
            margin-bottom 12px

            @media $screen-xs
                font-size 20px
                line-height 27px
                margin-bottom 4px
