$bg-gray = #f7f7f7
$text-color = #303030
$text-red = #ec422b
$text-accent = #ED423B
$stroke = #e8e8e8
$green = #6dad45
$link = #235863

$screen-xs = "screen and (max-width: 991px)"

body
    margin: 0
    padding: 0
    min-width: 320px
    font-family 'Poppins', Helvetica, Arial, sans-serif

a, button 
    cursor pointer

.container-fluid, .container
    padding 0 20px

    @media $screen-xs
        padding 0 14px

.row
    margin 0 -20px

    @media $screen-xs
        margin 0 -14px

for i in 1..12
    .col-md-{i}
        padding 0 20px

        @media $screen-xs
            padding 0 14px

@media (min-width: 1200px)
    .container
        max-width 1085px

strong
    font-weight 700

.col-md-20p
    padding 0 20px

    @media $screen-xs
        padding 0 14px

.mobile-flex-reverse
    @media $screen-xs
        flex-direction column-reverse
    
    

@import "settings"
    
@import "components/text"

@import "sections/subheader"
@import "sections/header"
@import "sections/topper"
@import "sections/alternative"
@import "sections/tabview"
@import "sections/product"
@import "sections/model"
@import "sections/history"
@import "sections/giveback"
@import "sections/project"
@import "sections/footer"