.slick
    &-track
        display flex

    &-list
        overflow hidden

    &-dots
        padding-left 0
        list-style none
        margin-bottom 0
        display flex
        justify-content center
        margin-top 12px

        & > li
            &:not(:last-child)
                margin-right 18px

            &.slick-active
                & > button
                    opacity 1

            & > button
                border 0
                background 0
                font-size 0
                padding 0
                width 10px
                height 10px
                border-radius: 50%
                background-color $text-red
                opacity 0.3

                &:focus
                    outline 0